/* As far as I can tell, variables work from macOS 10.11+ (El Capitan) */
:root {
	--background-color: white;
	--text-color: black;
	--link-color: #3983C4;
	--pre-color: #F7F7F7;
	--table-color: #F7F7F7;
	--table-border-color: lightgray;
	--quote-color: #777777;
	--ruler-start: #ccc;
	--ruler-middle: #333;
}

/* Dark scheme works from 10.14.4+ (Mojave) */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #2d2d2d;
		--text-color: #d2d2d2;
		--pre-color: #555555;
		--table-color: #555555;
		--quote-color: #a2a2a2;
		--ruler-start: #333;
		--ruler-middle: #ccc;
	}
}

h1 {
	margin-bottom: 0.5em;
}

h2 {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

h3 {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

p + p {
	margin: 1em 0;
}

p,ul,ol {
	line-height: 1.4;
}

ul,ol {
	margin-top: 1em;
	margin-bottom: 1em;
   padding-left: 20px;
}

img.centerframe, img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: -apple-system, "Helvetica Neue", "Lucida Grande", sans-serif;
	margin: auto;
	padding: 0px 10px 10px 10px;
	max-width: 760px;
}

a {
	color: #3983C4;
}

a:link {
	background: inherit;
	text-decoration: none;
}

a:visited {
	filter: brightness(150%);
	background: inherit;
}

a:hover {
	text-decoration:underline;
}

/*
body {
        font:12px "Lucida Grande", sans-serif;
}

pre {
	margin-right:1em;
	margin-left:1em;
	padding: 0.5em;
	border: 1px solid #dddddd;
	background: #fafafa;
	font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
	overflow: auto;
}

table th {
	padding: 0.5em;
}

table td {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding: 0.5em 1em;
}
*/


/*
	The following is from Standard.mmTheme
*/

/* Block code segments */
pre {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 5px;
	background-color: var(--pre-color);
	border-radius: 5px 5px 5px 5px;
	overflow-x: auto;
}

/* Inline code segments */
code {
	margin: 0;
	padding: 0 0.4em;
   white-space: nowrap;
	border-radius: 3px;
	background-color: var(--pre-color);
}
pre > code {
	padding: 0px;
   white-space: pre;
}
hr {
	border: 0;
	height: 1px;
	background: var(--ruler-middle);
	background-image: linear-gradient(to right, var(--ruler-start), var(--ruler-middle), var(--ruler-start));
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Tables */
table {
	border-radius: 5px 5px 5px 5px;
	background-color: var(--table-color);
	border-collapse: collapse;
	margin: 1em 0em;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
}
th {
	padding: 0.5em;
}
td {
	border-top: 1px solid var(--table-border-color);;
	padding: 0.5em;
}
td+td,th+th {
	border-left: 1px solid var(--table-border-color);;
}

p.post-meta {
	margin: 0;
	font-size: 0.8em;
}

.post-header h1 {
	margin-bottom: 0em;
}
.post-header {
	margin-bottom: 1em;
}

/* Footnotes */
div.footnotes {
	font-size: 0.8em;
}
div.footnotes li p {
	margin: 0.2em 0;
}

.sidebar ul {
	list-style-type: none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.sidebar > ul {
	padding: 0;
	list-style-type: none;
}

.quotes ul {
	margin: 0.5em 0 0 0;
	padding: 0;
	list-style-type: none;
}

.quotes ul li {
	margin: 0 0 5px;
	padding-left: 5px;
	border-left: 2px solid var(--quote-color);
	color: var(--quote-color);
}

.quotes ul {
	margin: 0.5em 0 0 0;
	padding: 0;
	list-style-type: none;
}

blockquote {
	margin: 1em 0;
	padding-left: 5px;
	border-left: 2px solid var(--quote-color);
	color: var(--quote-color);
}
